<!-- this file is everything that we will have in EVERY page on our site. other files will inherit this file -->

<!DOCTYPE html>
<html>
<head>
    <title>Please Don't Sing - HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css"/>
</head>
<body>

<div class="container-fluid text-center top-container">
    <img src="static/images/carthage.png">
</div>
<div class="container">
    
    {%include "includes/nav.html"%}
    
    {% block content %}
    {% endblock %}
    
</div>
</div>
<div class="container-fluid text-center bottom-container">
    <footer>
        <p> Carthage College Computer Science and Data Science Senior Thesis, Class of 2021 </p>
</div>
</body>
</html>