
<!-- THE BELOW IS TO CHOOSE A FILE-->


<html>  
<head>  
    <title>upload</title>  
</head>  
<body>  
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" accept="audio/*" id="audio-recording" capture>
        <input type = "submit" value="Upload">  
    </form>  
</body>  
</html>  



<script>
  const recorder = document.getElementById('audio-recording');

  recorder.addEventListener('change', function(e) {
    const file = e.target.files[0];
    //save the location where the participant's file exists
    const url = URL.createObjectURL(file);
    
  });
</script>
             
<!-- BELOW is attempting to do a record button from the following link
 https://medium.com/jeremy-gottfrieds-tech-blog/javascript-tutorial-record-audio-and-encode-it-to-mp3-2eedcd466e78
 this will require Javascript
<p>
    <button id = record> </button>
    <button id = stop_record disabled>Stop </button>
</p>
-->